*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222222;
    font-family: sans-serif;
}
body{
    background-color: #F1F1F1;
    height: 1000px;
}
h1{
    font-family: "Montserrat";
}
nav{
   position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.518);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 100;
}
#botonera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;
}
.botonnav{
    background: transparent;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.botonnav:hover{
    background-color: #556B2F;
    border-color: #556B2F;
}
#contenedor_horario{
    background-color: rgba(0, 0, 0, 0.171);
    width: 85%;
    margin-left: 7%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
#contenedor_contacto{
    background-color: rgba(0, 0, 0, 0.171);
    width: 85%;
    margin-left: 7%;
    margin-top: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
#contenedor_ubicación{
    background-color: rgba(0, 0, 0, 0.171);
    width: 85%;
    margin-left: 7%;
    margin-top: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.contenedorLogo {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.logoImg {
    height: 90px; 
    width: auto;
    object-fit: contain;
}
#mapa{
    text-align: center;
    margin-top: 50px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
footer{
    height: 300px;
    background-image: url(../imagenes/fondoblanco.jpg);
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#txt_contacto{
    text-align: center; 
    font-size: 8vw; 
    margin-top: 200px; 
}

@media(max-width: 600px) {
        nav{
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        z-index: 0;
    }
        .contenedorLogo{
        width: 100%;
        justify-content: center;
    }
        #botonera{
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }
    .txt_contacto{
        width: 100%;
    }
}
@font-face {
    font-family: 'Montserrat';
    src: url(./../fuentes/Montserrat-VariableFont_wght.ttf);
}