*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: rgba(46, 47, 48, 0.842);
    height: 1000px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 100;
}
.contenedorLogo {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.logoImg {
    height: 90px; 
    width: auto;
    object-fit: contain;
}
#botonera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;
}
.botonnav{
     background: transparent;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid rgba(255,255,255,0.2);
}
.botonnav:hover{
    background-color: #556B2F;
    border-color: #556B2F;
}
#señoriodemolinet, #estucheregalo, #castillodezahra{
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 200px;
    text-align: center;

}
.compraaceite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    

}
.aceitetienda{
    width: 30%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    
}
.imagen{
    width: 100%;
    height: 220px;
}
p{
    font-size: 40px;

}
a{
    background-color: rgb(66, 92, 18);       
    border-radius: 12px;
    width: 80px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
a:hover{
    background-color: darkgoldenrod;
}
footer{
    height: 300px;
    background-image: url(./../imagenes/fondoheadernegro.jpg);
    margin-top: 50px;
}
.nombre{
    font-size: 20px;
}

@media(max-width: 600px) {
        nav{
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        z-index: 0;
    }
        .contenedorLogo{
        width: 100%;
        justify-content: center;
    }
        #botonera{
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }
    .compraaceite {
        flex-direction: column;
    }

    .aceitetienda {
        width: 90%; 
        margin-bottom: 20px;
    }
}
@font-face {
    font-family: 'monserrat';
    src: url(./../fuentes/Montserrat-VariableFont_wght.ttf);
}